
<p>
  <h2>Your Bookmarklet</h2>
  Drag to your Bookmark Bar:
  <%= 
    link_to 'Tweakify!', 
    "javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='http://tootils.local/users/source/1.js?screen_name=#{current_user.login}';document.getElementsByTagName('head')[0].appendChild(_my_script);})();"
  %>
  <br />
  <em>
    Then go to <%= link_to 'twitter.com', 'http://twitter.com' %> &amp; click it to activate your selected tweaks!</em>
</p>

<p>
  <h2>Your Bundled Tweaks</h2>
  <% for tweak in @user.tweaks %>
    &#8212; <%=h tweak.name %> <br />
  <% end %>
</p>


<%= link_to 'Get Tweaks!', edit_account_path %>