<h1>Hi.</h1>

<p>
  Welcome to our playgound.
</p>

<p>
  Our first project is <%= link_to "Backdrafts", url_for(:controller => "backdrafts") %>, 
  a comment-gathering system for the excellent <a href="http://daringfireball.net">DaringFireball</a> Weblog.
  We are in no way affiliated or endorsed by DaringFireball or John Gruber. As an act of appreciation for
  his work, we offer this simple service.
</p>
<p>
  Some other ideas for interesting tools and utilities are in the works, and will 
  be deployed here as the time and inspiration strikes.
</p>

<h2>Thanks for stopping by!</h2>