<h1>Hi.</h1>

<p>
  Welcome to our playgound.
</p>

<p>
  This is a site where <a href="http://twitter.com/brookr">brookr</a> fiddles 
  with the Tooterverse.
</p>

<p>
  We just launched <%= link_to "Backdrafts", url_for(:controller => "backdrafts") %>, 
  a comment-gathering system for the excellent <a href="http://daringfireball.net">DaringFireball</a> Weblog.
</p>
<p>
  Some other ideas for interesting tools and utilities are in the works, and will 
  be deployed here as the time and inspiration strikes.
</p>

<h2>Thanks for stopping by!</h2>