<h1>trstrank: Influence, Measured!</h1>

<p>
  The kings of data over at InfoChimps now offer an easy PageRank-like system for tracking the influence of 
Twitter users. 
</p>
<p>
  We thought this was a cool idea, and would be especially useful right on twitter.com.
</p>
<p>
  Since the Chimps are gracious enough to offer an API (and even a JSONP callback option at my request!!), 
  this is an excellent source of data that can easily be included in Twitter's new fancy Hovercards.
</p>
<h2>Upgrade your HoverCard</h2>
<p>
  It's as easy as clicking a bookmarklet!
  <br />
  You know how these doohikies work, right? Just drag the link to your bookmark bar, and click it once you are on twitter.com
</p>
<ol>
  <li>
    Go ahead, try it now. Drag to bookmark bar: 
    <a href="javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='http://tootils.com/users/source/1.js?screen_name=demo-trstrank';document.getElementsByTagName('head')[0].appendChild(_my_script);})();">
      HoverTrst
    </a>
  </li>
  <li>
    Now open up <a href="http://twitter.com" target="_blank">Twitter.com</a> (will open in a new tab)
  </li>
  <li>
    Click that Bookmarklet!
  </li>
  <li>
    Now float your mouse over any @twitter_handle, and you will see the trstrank load right into the pop-up HoverCard. Yay!
  </li>
</ol>

<p>
  If you like that, you may well like the other tweaks we offer through bookmarlets. Our library is small but we have 
  big plans. Get in touch with <a href="http://twitter.com/decielo">@decielo</a> if you'd like an invite to the early Tweakify Beta.
</p>