<% content_for :title do %>
  Backdraft
<% end %>

<% content_for :subheader do %>
  <h1>Tootils &middot; Backdraft</h1>
<% end %>

<% content_for :menu do %>
  <ul>
    <li><%= link_to "About", url_for(:controller => "welcome", :action => "index") %></li>
  </ul>
<% end %>

<%= render :file => 'layouts/application' %>