<% content_for :title do %>
  Welcome
<% end %>

<% content_for :subheader do %>
  <h1>Tootils &middot; Welcome<%= ", #{current_user.login}" unless current_user.blank? %></h1>
<% end %>

<% content_for :menu do %>
  <ul>
    <li><%= link_to "Tweakify!", url_for(:controller => "tweaks", :action => "index") %></li>
    <li><%= link_to "Backdrafts", url_for(:controller => "backdrafts", :action => "index") %></li>
  </ul>
<% end %>

<%= render :file => 'layouts/application' %>