<% content_for :title do %>
  Welcome
<% end %>

<% content_for :subheader do %>
  <h1>Tootils &middot; Welcome</h1>
<% end %>

<% content_for :menu do %>
  <ul>
    <li><%= link_to "Backdrafts", url_for(:controller => "backdrafts", :action => "index") %></li>
  </ul>
<% end %>

<%= render :file => 'layouts/application' %>